<nav class="container">
  <ul>
    
    <li><img src="/favicon-32x32.png" width="32" alt="logo" /> Tikk</li>
  </ul>
  <ul>
    <li><a href="/students">Students</a></li>
    <li><a href="/tickets">Tickets</a></li>
    <li>(<%- username %>)</li>
  </ul>
</nav>
