<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="container" style="padding-top: 0;">
      <nav>
        <ul>
          <li><h5>Tickets</h5></li>
        </ul>
        <ul>
        </ul>
      </nav>
      <%- include('./partials/tickettable.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
